# Trading Strategy based on Simple Moving Averages

## Importing necessary libraries

In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
from plotly import graph_objects as go
import numpy as np

## Getting the data and cleaning it

In [2]:
def data_download_and_clean(ticker_):
    global data, buy_and_hold_final_amount
    data = yf.download(tickers = ticker_ , period = 'max' , interval = '1d')
    buy_and_hold_final_amount = (data.iloc[-1,4] / data.iloc[1,1])*1000   # amount if we dont trade
    data.dropna(axis = 0,inplace = True)
    data.drop(['Adj Close','Volume'], axis = 1, inplace = True)
    data.reset_index(inplace = True)

In [3]:
data_download_and_clean('BTC-USD')
data.head()

[*********************100%***********************]  1 of 1 completed

        Date        Open        High         Low       Close
0 2014-09-17  465.864014  468.174011  452.421997  457.334015
1 2014-09-18  456.859985  456.859985  413.104004  424.440002
2 2014-09-19  424.102997  427.834991  384.532013  394.795990
3 2014-09-20  394.673004  423.295990  389.882996  408.903992
4 2014-09-21  408.084991  412.425995  393.181000  398.821014

## Trading strategy based on moving average

In [17]:
def trade(initial_money, i, j):
    data['MA_1'] = data.iloc[:,4].rolling(window=i).mean()
    data['MA_2'] = data.iloc[:,4].rolling(window=j).mean()
    money = initial_money
    equity_amount = 0
    trade_count = 0          # number of trades done
    trading_fees = 0.001    # binance trading fees
    traded = 0               # initially no trade has taken place .. this is a binary variable
    for i in range(1,len(data)):
        # if previous day's ma(1)>ma(2) and we have not alrady bought equity then buy equity
        if((data.iloc[i-1,5] > data.iloc[i-1,6]) and traded == 0):      
            equity_amount = (money)/data.iloc[i,1]*(1-trading_fees)     
            money = 0                                                  # set current amount to 0
            trade_count = trade_count+1                                # increase trade count
            traded = 1                                                 # change traded flag to 1
        # if previous day's ma(2) < ma(5) and we have bought the equity then sell equity
        elif((data.iloc[i-1,5] < data.iloc[i-1,6]) and traded == 1):       
            money = (equity_amount)*data.iloc[i,1]*(1-trading_fees)    
            equity_amount = 0                                          # set equity amount to 0
            trade_count = trade_count+1                                # increase trade count
            traded = 0                                                 # change traded flag to 0
        else:
            pass                                                       # if neither conditions happen then we don't do anything
        
    if(money == 0):
        final_money = equity_amount*data.iloc[i,4]  # checking our final amount
    else:
        final_money = money
    print('Profit with trading(percentage) =', 100*(final_money / initial_money - 1)) 
    print('Profit with holding(percentage) =', 100*(buy_and_hold_final_amount / initial_money - 1))
    print('Trading Strategy vs Holding profit difference = $',final_money - buy_and_hold_final_amount)
    print('Number of trades executed =', trade_count)
    #return final_money/initial_money

In [5]:
from IPython.display import clear_output

In [6]:
max_0 = 0
max_i = 0
max_j = 0
data_download_and_clean('BTC-USD')
for i in range(1,100):
    for j in range(i+1,100):
        amount = trade(1000, i, j)
        if(amount>max_0):
            max_0 = amount
            max_i = i
            max_j = j
        clear_output(wait = True)
        print('currently running: ' , i , j)

currently running:  98 99

In [7]:
print(max_0, max_i, max_j)

423.3262697502014 1 44

Removing the commented code in trade and running it once again

In [9]:
data_download_and_clean('BTC-USD')
trade(1000, max_i, max_j)

[*********************100%***********************]  1 of 1 completed
Profit with trading(percentage) = 42232.62697502014
Profit with holding(percentage) = 12341.512671548659
Trading Strategy vs Holding profit difference = $ 298911.1430347148
Number of trades executed = 128

The above profit is for the time period 'max', i.e. starting from 17 Sept 2014 to 3 Dec 2021. with 1d timeframe

In [10]:
data

,Date,Open,High,Low,Close,MA_1,MA_2
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,NaN
...,...,...,...,...,...,...,...
2625,2021-11-28,54813.023438,57393.843750,53576.734375,57248.457031,57248.457031,61175.685458
2626,2021-11-29,57291.906250,58872.878906,56792.527344,57806.566406,57806.566406,61105.557884
2627,2021-11-30,57830.113281,59113.402344,56057.281250,57005.425781,57005.425781,61002.189897
2628,2021-12-01,56907.964844,59041.683594,56553.082031,57229.828125,57229.828125,60893.184215
2629,2021-12-02,57025.238281,57349.234375,56029.984375,56840.292969,56840.292969,60724.509233

___

Now, I will compute the profit for 1 yr on 1hr timeframe

In [11]:
def data_download_and_clean2(ticker_):
    global data, buy_and_hold_final_amount
    data = yf.download(tickers = ticker_ , period = '1y' , interval = '1h')
    buy_and_hold_final_amount = (data.iloc[-1,4] / data.iloc[1,1])*1000   # amount if we dont trade
    data.dropna(axis = 0,inplace = True)
    data.drop(['Adj Close','Volume'], axis = 1, inplace = True)
    data.reset_index(inplace = True)

In [15]:
max_0 = 0
max_i = 0
max_j = 0
data_download_and_clean2('BTC-USD')
for i in range(1,100):
    for j in range(i+1,100):
        amount = trade(1000, i, j)
        if(amount>max_0):
            max_0 = amount
            max_i = i
            max_j = j
        clear_output(wait = True)
        print('currently running: ' , i , j)
clear_output(wait = True)
print('Training Complete')

Training Complete

In [16]:
print(max_0, max_i, max_j)

3.3017836162769942 3 83

In [18]:
data_download_and_clean('BTC-USD')
trade(1000, max_i, max_j)

[*********************100%***********************]  1 of 1 completed
Profit with trading(percentage) = 19013.20186332954
Profit with holding(percentage) = 12360.64804733184
Trading Strategy vs Holding profit difference = $ 66525.538159977
Number of trades executed = 55